/*homepage*/
body{
    font-family: "Century Gothic";
}
nav{
    text-align: end;
    margin-top: 2%;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 2%;
    font-size: 1em;
}
nav a:hover{
    background-color: #014286;
    color: white;
}

#headline-homepage{
    margin-top: 5%;
}
table{
    border-collapse: collapse; 
    border: black solid 1px;
    margin-left: 5%;
    text-align: center;
}
th{
    border: black solid 1px;
    background-color: #014286;
    color: white;
}
table td{
    border: black solid 1px;
}
th, td{
    padding: 2em;
}
#wrapper-homepage{
    margin: 0.5% 5%;
    padding: 2%;
} 
h4{
    margin-bottom: 5%;

}


/*unterseite 1*/

#wrapper{
    display: flex;
    flex-direction: row;
}
h1{
    text-align: center;
    font-size: 4vw;
}
button{
    padding: 1% 4%;
    background-color: black;
    color: white;
    border-radius: 10%;
}
p{
    font-size: 1.5em;
    font-weight: bold;
}
button:hover{
    background-color: white;
    color: black;
}
#buttonBox{
    margin-left: 45%;
}
img{
    width: 80%;
    height: auto;
    padding: 20px;
    border-radius: 5%;
}
#big-image img{
    width: 35rem;
}
.image-middle{
    width: 190%;
    opacity:0.5;
    margin-top: 8%;
}
.image-middle:hover{
    opacity: 100%;
}
.image_outside{
    opacity:0.3;
    margin-top: 10%;
}
.image_outside:hover{
    opacity: 100%;
}
iframe{
    margin-left: 32%;
}